:root {
    --primary-color: #8C1F17;
    --secondary-color1: #70371A;
    --secondary-color2: #231815;
    --accent-color1: #F3E6D9;
    --accent-color2: #153233;

}

/* Header Content*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--accent-color1);
    color: var(--secondary-color2);
}

header img {
    max-height: 100px;
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5px;
}



header p,
nav a {
    font-size: 25px;
}

nav {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    background-color: var(--secondary-color1);
    padding: 1rem 0;
    position: relative;

}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
}


nav a:hover {
    background-color: var(--secondary-color2);

}

nav a,
.discover a {

    color: var(--accent-color1);
    text-decoration: none;
}



/* Footer Content*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color1);
    color: var(--accent-color1);

}

footer p {
    text-align: center;
    margin-bottom: 5px;


}

.icons {
    position: static;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.icons a {
    text-decoration: none;
}





/*Hero*/

.hero picture,
.hero img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 800px;
    object-fit: cover;

}

.hero {
    position: relative;

}

/* latest recipes*/

.recipe-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.recipe-card section {
    text-align: center;
    background-color: var(--accent-color1);
    border-radius: 10px;
    padding: 1rem;
}

.latest-recipes h2 {
    text-align: center;
    font-size: 3rem;
}

.latest-recipes {
    background-color: var(--accent-color1);
}

.recipe-card .recipe-link {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.5rem;
    color: var(--secondary-color2);

}

.recipe-link:hover {
    background-color: var(--primary-color);
}




/* Discover */

.discover {
    background-color: var(--accent-color1);
    color: var(--secondary-color2);
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-top: 15px
}

.discover h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.discover p {
    font-size: 25px;
}


.discover a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--accent-color1);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;

}

.discover a:hover {
    background-color: var(--secondary-color2);
}

/* Form */

.newsletter h2,
.newsletter p {
    text-align: center;
    color: var(--secondary-color2);
}

.newsletter h2 {
    font-size: 2rem;
}

.newsletter p {
    font-size: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--accent-color1);
    padding: 4rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

label {
    display: block;
    font-weight: bold;
    color: var(--secondary-color2);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 20px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
    width: 100%;
    padding: 10px;

}

.newsletter input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--accent-color1);
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 75%
}

.newsletter input[type="submit"]:hover {
    background-color: var(--secondary-color2);
}

@media (min-width: 500px) {
    .newsletter h2 {
        font-size: 2rem;
    }

    .newsletter p {
        font-size: 1.1rem;
    }

    .newsletter form {
        padding: 2rem;
    }

    .newsletter input[type="submit"] {
        font-size: 1.1rem;
        width: 60%;
    }
}

#menu {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#mainNav:not(.hidden) {
    display: flex;
}