:root {
    --primary-color: #070F9C;
    --accent-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero img {
    width: 100%;
    height: auto;
}

h2 img {
    width: 30px;
    height: auto;
}

.hero {
    position: relative;
}



.data,
.weather {
    position: absolute;
    background-color: var(--accent-color);
    color: black;
    padding: 30px;

}

.data {
    top: 10px;
    left: 10px;
}

.weather {
    bottom: 10px;
    right: 10px;
}

ul {
    list-style-type: none;
    margin-top: 15px;

}

h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
}


header,
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
}