:root {
    --primary-color: #070F9C;
    --accent-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero img {
    width: 100%;
    height: auto;
}

h2 img {
    width: 50px;
    height: auto;
    vertical-align: middle;

}

.hero {
    position: relative;
}



.data,
.weather {
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0.8;
    padding: 25px;
    text-align: center;




}

.data {
    top: 150px;
    left: 5%;
    width: 15%;
    height: auto;



}

.weather {
    bottom: 2%;
    right: 5%;
    width: 15%;
    height: auto;

}

ul {
    list-style-type: none;
    margin-top: 15px;
    font-size: large;

}

h2 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 5px;
    font-size: 30px;
}

h1 {
    font-size: 50px;
}


header,
footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    font-size: larger;
    padding: 25px;
}

body {
    font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {

    .data,
    .weather {
        position: static;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        height: auto;

    }

    h2 {
        background-color: white;
        color: black;
    }



}